<div ng-app="angularSpa" ng-controller="calificarRutaCtrl">
    <form name="form" ng-submit="editarCalificacion()" role="form">


    <div id="floating-panel">

    <br /><label for="Rutas para calificar">Rutas para calificar</label><br />
        <select id="end" ng-model="form.ruta" ng-change="update()">
            <option ng-repeat="ruta in rutas" value="{{ruta.idRuta}}">{{ruta.nombreRuta}}</option>
        </select>
    </div>

    <br /> 
     <br>

    <label for="calificacion">Calificación Promedio:  </label><span ng-repeat="i in [1,2,3,4,5,6,7] |limitTo: ruta.calificacion" class="glyphicon glyphicon-star" aria-hidden="true"></span><br />
    <br /><label for="calificacion">Calificación</label><br />

        <select ng-model="form.calificacion" required>
            <option value="">-- Elige una nota --</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
            <option value=7>7</option>
        </select>

    <div >
        <button ng-click="editarCalificacion()" type="submit"  class="btn btn-primary btn-block ">
        Calificar Ruta
        </button>
    </div>

    </form>

</div>  