<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<div class="col-xs-3"></div>
<div class="col-xs-6">
	
	<div class=" pull-left", style="margin: 20px; border:solid 2px ;padding: 20px !important; background: #D3D3D3;">
	<h4 align="center"><b>Login</b></h4>
		<p>{{SessionOnly.INFO}}</p>
	<div ng-app="angularSpa" ng-controller="loginCtrl">
		
		<form name="form" ng-submit="login()" role="form">
			<div flex-container="row">
				<div flex-item>
				<br /><label for="nickname">Nickname</label><br />
                <input ng-model="nickname" placeholder="Nickname" id="nickname" type="text" class="validate">
				</div>	
			</div>
			<div flex-container="row">
				<div flex-item>
				<br /><br><label for="password">Password</label><br />
                <input ng-model="password" placeholder="Contraseña" id="password" type="password" class="validate">
				</div>	
			</div>
		
			<div class="clearfix"></div>
			</br>
			</br>
	 		<div >
				<button ng-click="login()" type="submit"  class="btn btn-primary btn-block">
				Ingresar
				</button>
			</div>
			</div>
		</form>	


	</div>
	</div>
</div>



