<div>
<div class="bloc bgc-outer-space bg-city-overlay d-bloc">
	<div class="container bloc-xl">
            <div class="row">
                <div class="col-sm-12">
					<h2 ALIGN=center><b>Bienvenido a UniverBici </b> </h2>
					<br /><br /><br /><br />
					<p ALIGN=center> <i>UniverBici es una organización, destinada  a reunir a todos los estudiantes, profesores y funcionarios de la USACH que deseen utilizar la bicicleta como medio de transporte hacia la universidad, facilitando encontrar estacionamientos seguros, entre otras prestaciones.</i></p>
				</div>
			</div>
		</div>
</div>
</div>
